@import "../config/variable.css";

@-moz-document url(about:preferences),url-prefix(about:preferences) {
    * {
        transition: 450ms ease-in-out all;
        font-family: var(--default-font-family);
    }

    body::before {
        content: "" ;
        z-index: -1 ;
        position: fixed ;
        top: 0 ;
        left: 0 ;
        background: #2b2a33 no-repeat url(../img/96714001_p0.png) center ;
        background-size: cover ;
        filter: brightness(0.5);
        opacity: 0.65;
        width: 100vw ;
        height: 100vh ;
    }

    .sticky-container,
    .search-container  {
        width: 100% !important;
        margin-inline: 0px !important;
        padding-inline: 0px !important;
        min-height: unset !important;
        height: unset !important;
        background: unset !important;
    }
}
